input.update {
	border: solid;
	line-height: 1.75em;
	width: calc(100% - 56px);
	background-color: #FFFFFF;
	font-size: 16px;
	padding: 0em .25em 0em .25em;
}

table td.label {
	font-weight: bold;
}

div.inputContent,
form.inputContent {
	display: inline-block;
}

.searchForm{
	background-color: #c7d4ff;
	color: #f7feff;
}

.searchForm:hover{
	background-color: #575191;
	color: #fcecff !important;
}


.productsWrapper {
	display: inline-block;
}

.products {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 15em;
}

.products li {
	cursor: pointer;
	background-color: #EEE;
	margin: .5em;
	padding: .3em;
	height: 3.5em;
	border-radius: 4px;
	text-align: left;
}

.products li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}

a.button {
	text-decoration: none;
}
